doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous")
    link(rel="stylesheet" href="stylesheets/roll5.css")
    link(rel="icon" sizes="any" href="favicon.svg")
    script(src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous")
    script(src="/socket.io/socket.io.js")
    script(src="javascripts/roll5.js")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content
