/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
.d {
  border-radius: 6px;
  height: 96px;
  width: 96px;
  background-size: cover;
  background-image: url(../images/d0.svg);
  background-color: #95D8EB;
  background-color: #0076BE;
  margin: 16px;
}
.d1 { background-image: url(../images/d1.svg); }
.d2 { background-image: url(../images/d2.svg); }
.d3 { background-image: url(../images/d3.svg); }
.d4 { background-image: url(../images/d4.svg); }
.d5 { background-image: url(../images/d5.svg); }
.d6 { background-image: url(../images/d6.svg); }
.locked { background-color: #48BF91; }

button#roll, button#reset { background-color: #0076BE; color: white; }
button.score, button#verify { background-color: #48BF91; }
button.smaller { font-size: 80%; }

.centered { width: 100%; align-content: center; text-align: center; margin: 32px; max-width: 640px; }

td { text-align: center; }
td.sub1 { border-top: 1px solid black; }
td.bonus { border-bottom: 2px solid black; }
td.sub2 { border-top: 1px solid black; }
td.total { border-top: 3px double black; }
